form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.input {
		margin-bottom: 13px;
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		label {
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			color: rgba(var(--color-black-rgb), 0.4);
			width: 100%;
			order: 1;
		}

		input,
		select,
		textarea {
			margin-top: 8px;
			background: #f4f2f2;
			border-color: transparent;
			border-radius: 6px;
			padding: 12px;
			width: 100%;
			order: 2;

			&::placeholder {
				color: rgba(var(--color-black-rgb), 0.24);
			}

			&:focus {
				+ label {
					color: var(--color-black);
				}
			}
		}
	}
}
